.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:124px;
    background: #3F3D56;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-left: 40px;
    opacity: 0.4;
}

.social-link {
    margin-right: 19px;
}

.social-link:last-child {
    margin-right: 42px;
}

@media (max-width: 480px) {
    .footer {
        display: inline-block;
    }

    .footer-text {
        color: #FFFFFF;
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 16px;
        opacity: 0.4;
    }

    .social-links {
        margin-left: 22px;
        margin-bottom: 32px;
    }

}